*{
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif; 
  font-size: 12px;
  display: flex;
  justify-content: center; 
  height: 100%;
  width: 100%;
}

#calc {
  margin-top: 1em;
  width: 30%;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

#screen{
  height: 2.5em;
  font-family: monospace;
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}

.buttons-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.calc-button{
  width: 24.5%;
  margin-bottom:  0.5%;
  height: 2em;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
  border: none;
}

.calc-button:hover{
  filter: brightness(115%);
  cursor: pointer;
}
.calc-button:last-child{
  background-color: #df974c;
  color: #fff;
}

.col-2{
  width: 50%;
}

.col-3{
  width: 75%;
}